In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] 
data['release_year'] = data['release_date'].apply(lambda x: int(x[-4:]))
data['release_month'] = data['release_date'].apply(lambda x: int(x.split(sep='/')[0]))
data['len_title_symbols'] = data['original_title'].apply(lambda x: len(x))
data['len_overview_words'] = data['overview'].apply(lambda x: len(x.split()))
data['combi_pairs'] = data['cast'].apply(lambda x: list(combinations(x.split(sep='|'), 2)))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'#+

In [123]:
data.sort_values('budget', ascending=False).head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [138]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals' #+

In [7]:
data.sort_values('runtime', ascending=False).head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,17,48,"[(Stephen Lang, Jeff Daniels), (Stephen Lang, ..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45,"[(Elijah Wood, Ian McKellen), (Elijah Wood, Vi..."
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007,-41962103,4,10,28,"[(Kurt Russell, ZoÃ« Bell), (Kurt Russell, Ros..."
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005,343000000,12,9,37,"[(Naomi Watts, Jack Black), (Naomi Watts, Adri..."
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001,309220945,5,12,62,"[(Ben Affleck, Josh Hartnett), (Ben Affleck, K..."

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = 'Winnie the Pooh' #+
data.sort_values('runtime', ascending=True).head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,15,52,"[(Jim Cummings, Travis Oates), (Jim Cummings, ..."
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002,89862682,2,20,38,"[(Harriet Owen, Blayne Weaver), (Harriet Owen,..."
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003,115680000,2,17,26,"[(John Goodman, Haley Joel Osment), (John Good..."
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005,-15521894,3,7,61,"[(Ewan McGregor, Ricky Gervais), (Ewan McGrego..."
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004,-6048539,4,17,69,"[(Randy Quaid, Steve Buscemi), (Randy Quaid, J..."

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = '110' #+
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = '107' #+
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
answers['6'] = 'Avatar' #+
data.sort_values('profit', ascending=False).head(5) #колонка profit создана в предобработке

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,6,28,"[(Sam Worthington, Zoe Saldana), (Sam Worthing..."
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12,28,26,"[(Harrison Ford, Mark Hamill), (Harrison Ford,..."
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6,14,26,"[(Chris Pratt, Bryce Dallas Howard), (Chris Pr..."
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4,9,14,"[(Vin Diesel, Paul Walker), (Vin Diesel, Jason..."
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910,4,12,47,"[(Robert Downey Jr., Chris Evans), (Robert Dow..."

# 7. Какой фильм самый убыточный?

In [12]:
answers['7'] = 'The Lone Ranger' #+
data.sort_values('profit', ascending=True).head(5) #колонка profit создана в предобработке

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039,4,9,33,"[(Dennis Quaid, Billy Bob Thornton), (Dennis Q..."
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242,3,15,20,"[(Seth Green, Joan Cusack), (Seth Green, Dan F..."
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002,-92896027,8,28,105,"[(Eddie Murphy, Randy Quaid), (Eddie Murphy, R..."
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006,-84540684,10,12,44,"[(Hugh Jackman, Kate Winslet), (Hugh Jackman, ..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = '1478'  #+
data[data.profit > 0].original_title.count() #колонка profit создана в предобработке

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
answers['9'] = 'The Dark Knight'  #+
data[data.release_year == 2008].sort_values('revenue', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67,"[(Christian Bale, Michael Caine), (Christian B..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
answers['10'] = 'The Lone Ranger'  #+
data[(data.release_year <= 2014) & (data.release_year >= 2012)].sort_values('profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 11. Какого жанра фильмов больше всего?

In [16]:
answers['11'] = 'Drama'  #+
pd.Series(data.genres.str.cat(sep='|').split(sep='|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
answers['12'] = 'Drama'  #+
data_cut = data[data.profit > 0]
pd.Series(data_cut.genres.str.cat(sep='|').split(sep='|')).value_counts() #колонка profit создана в предобработке

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [18]:
answers['13'] = 'Peter Jackson'  #+
data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [19]:
answers['14'] = 'Robert Rodriguez'  #+
data_action = data[data.genres.str.contains('Action')]
data_action.groupby('director')['revenue'].count().sort_values(ascending = False)

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: revenue, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
answers['15'] = 'Chris Hemsworth'  #+
data_cut = data[data.release_year == 2012] #колонка release_year создана в предобработке
cast_list = pd.Series(data_cut.cast.str.cat(sep='|').split(sep='|'))
cast_list_sum = cast_list.value_counts(ascending=False)
for actor in cast_list_sum.index:
    cast_list_sum[actor] = data_cut['revenue'][data_cut['cast'].map(lambda x: True if actor in x else False)].sum()
cast_list_sum.sort_values(ascending=False)

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Mark Ruffalo       1519557910
Chris Evans        1519557910
                      ...
Jason Bateman         3428048
Danny Huston          2106557
Nicolas Cage          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
answers['16'] = 'Matt Damon' #+
data_cut = data[data.budget > data.budget.mean()]
pd.Series(data_cut.cast.str.cat(sep='|').split(sep='|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
John Forsythe         1
GÃ©rard Depardieu     1
Christina Cox         1
Chris Sanders         1
Spencer Locke         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [22]:
answers['17'] = 'Action'  #+
data_cut = data[data.cast.str.contains('Nicolas Cage')]
pd.Series(data_cut.genres.str.cat(sep='|').split(sep='|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [23]:
answers['18'] = 'K-19: The Widowmake'  #+
data_cut = data[data.production_companies.str.contains('Paramount Pictures')]
data_cut[['profit','original_title']].sort_values('profit').head(1)

       profit        original_title
925 -64831034  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [24]:
answers['19'] = '2015'  #+
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False) #колонка release_year создана в предобработке

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [25]:
answers['20'] = '2014'  #+
data_cut = data[data.production_companies.str.contains('Warner Bros')]
data_cut.groupby(['release_year'])['profit'].sum().sort_values(ascending=False) #колонка release_year создана в предобработке

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
answers['21'] = '9'  #+
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending = False) #колонка release_month создана в предобработке

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
answers['22'] = '450'  #+
data_cut = data[(data.release_month >= 6) & (data.release_month <= 8)]
data_cut.imdb_id.count() #колонка release_month создана в предобработке

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [28]:
answers['23'] = 'Peter Jackson'  #+
data_cut = data[data.release_month.isin([1,2,12])]
data_cut.director.value_counts() #колонка release_month создана в предобработке

Peter Jackson                    7
Steven Soderbergh                6
Clint Eastwood                   6
Shawn Levy                       4
Nancy Meyers                     4
                                ..
Olivier Megaton                  1
Michael Spierig|Peter Spierig    1
Frank Darabont                   1
Thor Freudenthal                 1
Andrew Adamson                   1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [29]:
answers['24'] = 'Four By Two Productions'  #+
studio_list = pd.Series(data.production_companies.str.cat(sep='|').split(sep='|')).value_counts(ascending=False)
for studio in studio_list.index: 
    studio_list[studio] = data['len_title_symbols'][data['production_companies'].map(lambda x: True if studio in x else False)].mean()
studio_list.sort_values(ascending=False) #колонка len_title_symbols создана в предобработке

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Polsky Films                  46
Museum Canada Productions     46
                              ..
Everest Entertainment          3
Berlanti Productions           3
Ixtlan Productions             2
XM2 Productions                2
Global Entertainment Group     2
Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [30]:
answers['25'] = 'Midnight Picture Show'  #+
studio_list = pd.Series(data.production_companies.str.cat(sep='|').split(sep='|'))
studio_list_sum = studio_list.value_counts(ascending=False)
for studio in studio_list_sum.index:
    studio_list_sum[studio] = data['len_overview_words'][data['production_companies'].map(lambda x: True if studio in x else False)].mean()  
studio_list_sum.sort_values(ascending=False) #колонка len_overview_words создана в предобработке

Midnight Picture Show                             175
Room 9 Entertainment                              161
98 MPH Productions                                159
Heineken Branded Entertainment                    159
Brookwell-McNamara Entertainment                  156
                                                 ...
Henceforth                                         13
TDJ Enterprises / New Dimensions Entertainment     13
Projection Pictures                                13
Empire Pictures                                    11
Motion Picture Corporation of America              11
Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [31]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  #+
data[data.vote_average > np.quantile(data['vote_average'], 0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title_symbols,len_overview_words,combi_pairs
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112,"[(Amy Poehler, Phyllis Smith), (Amy Poehler, R..."
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49,"[(Brie Larson, Jacob Tremblay), (Brie Larson, ..."
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35,"[(Matthew McConaughey, Jessica Chastain), (Mat..."
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28,"[(Chris Pratt, Zoe Saldana), (Chris Pratt, Dav..."
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46,"[(Benedict Cumberbatch, Keira Knightley), (Ben..."
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30,"[(Ben Affleck, Rosamund Pike), (Ben Affleck, C..."
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66,"[(Ralph Fiennes, Tony Revolori), (Ralph Fienne..."
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44,"[(Leonardo DiCaprio, Joseph Gordon-Levitt), (L..."
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67,"[(Christian Bale, Michael Caine), (Christian B..."
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39,"[(Adrien Brody, Thomas Kretschmann), (Adrien B..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45,"[(Elijah Wood, Ian McKellen), (Elijah Wood, Vi..."
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29,"[(Leonardo DiCaprio, Jonah Hill), (Leonardo Di..."
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61,"[(Chiwetel Ejiofor, Michael Fassbender), (Chiw..."
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78,"[(Guy Pearce, Carrie-Anne Moss), (Guy Pearce, ..."

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [32]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'#+
pair_list = []
for pairs in data['combi_pairs']: #колонка combi_pairs создана в предобработке
    for pair in pairs:
        pair_list.append(pair)
pd.Series(pair_list).value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Katie Cassidy, Thomas Dekker)         1
(Alice Krige, Mackenzie Crook)         1
(Glenn Close, Mia Wasikowska)          1
(Jim Cummings, Jim Cummings)           1
(Nicolas Cage, Cara Seymour)           1
Length: 18121, dtype: int64

# Submission

In [164]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar',
 '8': '1478',
 '11': 'Drama',
 '12': 'Drama',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '7': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmake',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [5]:
# и убедиться что ни чего не пропустил)
len(answers)

0